
.product-list .price-list .card{
    border:1px solid var(--items-list-bg-color);
}
.product-list .price-list .price-clr{
    color: var(--price-content-color);
}
.product-list .price-list .cart-li-img{
    height: 120px;
    object-fit: contain;
}
/* .nsc img{
    width: 50px;
    cursor: pointer;
} */
.nsc .form-control::placeholder{
   color:rgba(211, 211, 211, 0.966) ;
}
.nsc .order textarea {
    height: 120px!important;
}
.nsc .btn {
    background-color:var(--next-prev-arrow-color) ;
}
.nsc .active img {
    filter: grayscale(2) invert(1);
}
.nsc .active h6 {
    color: black!important;
}
.nsc .form-control{
    border: var(--bs-border-width) solid var(--items-list-border-color)!important;
}
#notes textarea::placeholder, #shipping input::placeholder {
    font-size: 14px;
}
.nsc .top-head .col-4{
    border-right: 1px solid var(--items-list-border-color);
}
/* checkout page */
.check_out_nav {
    border: 1px solid var(--next-prev-arrow-color);  
}
.bck-btn{
    width: 20px;
}
.iti {
    width:100%;
}
.check_out_li .form-check-input {
    border: var(--bs-border-width) solid var(--next-prev-arrow-color)!important;
}
.check_out_li .form-check-input:checked {
    background-color: var(--next-prev-arrow-color)!important;
}
.check_out_li .form-check-input:focus {
    box-shadow: 0 0 10px var(--items-list-border-color) !important;
}
.check_out_li .ss .form-control{
    border: var(--bs-border-width) solid var(--items-list-border-color)!important;
}
.check_out_li .form-control::placeholder{
    color:#000 ;
}
.check_out_li .css .input-group-text {
    background-color: #fff!important; 
    border-top: var(--bs-border-width) solid var(--items-list-border-color)!important;
    border-left: var(--bs-border-width) solid var(--items-list-border-color)!important;
    border-bottom: var(--bs-border-width) solid var(--items-list-border-color)!important;
}
.check_out_li .css .form-control {
    background-color: #fff!important; 
    border-top: var(--bs-border-width) solid var(--items-list-border-color)!important;
    border-right: var(--bs-border-width) solid var(--items-list-border-color)!important;
    border-bottom: var(--bs-border-width) solid var(--items-list-border-color)!important;
    border-left: var(--bs-border-width) solid #fff !important;
    font-size: 15px;
}
.check_out_li .card{
    border: 1px solid var(--items-list-border-color);
}
.check_out_li .mul-address{
    background-color: var(--items-list-bg-color);
}
.check_out_li .mul-address .card1{
    background-color: var(--next-prev-arrow-color);
}
.check_out_li .mul-address .edit-address{
    color: var(--next-prev-arrow-color);
    background-color:var(--items-list-bg-color) ;
}
.check_out_li .mul-address .deliver-here{
    background-color:var(--next-prev-arrow-color) ;

}
.check_out_li .mul-address .bhbhjb{
    visibility: hidden;
}
.check_out_li .mul-address .njkjk:hover .bhbhjb {
    visibility: visible; 
}
.check_out_li .mul-address .max-height{
    max-height: 200px;
    overflow-y: scroll;
}
.check_out_li .mul-address .max-height::-webkit-scrollbar {
    width: 3px;
}
.check_out_li .mul-address .max-height::-webkit-scrollbar-thumb {
    background:rgb(235, 234, 234);
    width: 2px;
}
.check_out_li #Editaddress .btn{
    background-color: var(--next-prev-arrow-color);
}
.check_out_li .mbl-view .mbl-top{
    background-color: #c9c9c929;
}
.check_out_li .mbl-view .summary{
    color: var(--next-prev-arrow-color);
}
.check_out_li .mbl-view .price{
    color: var(--price-content-color);
}
.check_out_li .mbl-view .free-delivery{
    color: var(--items-red-color);
}
.check_out_li .mbl-view .btn{
    background-color: var(--next-prev-arrow-color);
}
.check_out_li .mbl-view .order-list-view img{
    height: 91px;
    object-fit: contain;
}
.check_out_li .stickyclass{
    position: sticky;
    top: 0;
}
.order-summary{
    background-color: var(--items-list-bg-color);
}
.qty-clr  h6{
    color:var(--qty-color);
}
.qty-clr  .card{
    background-color: var(--price-tag-color); 
    width:104px!important;
}
.price-dtl .free-delivery{
    color: var(--items-red-color)!important;
}
.price-dtl .btn{
    background-color:var(--next-prev-arrow-color) ;
}
.price-dtl .form-control{
    border: 1px solid var(--items-list-border-color);
}
.order-summary .order-img{
    height: 121px;
    object-fit: contain;
}
.myFieldset .form-select{
    border: var(--bs-border-width) solid #FFF;
    padding: 0.35rem 2.5rem 0.2rem 0.1rem!important;
}
.myFieldset .border{
    border: var(--bs-border-width) solid var(--items-list-border-color) !important;
}
.number-option .form-control{
    border: 1px solid var(--items-list-border-color) !important;
}
.number-option .iti--separate-dial-code .iti__selected-flag {
    background-color: rgb(255 255 255 / 5%);
    font-size: 14px;
}
#numberverify .btn{
    background-color: var(--next-prev-arrow-color);
}
#numberverify .otp-container {
    display: flex;
    justify-content: center;
}
#numberverify .otp-input {
    width: 62px;
    height: 40px;
    margin: 0 9px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid var(--next-prev-arrow-color)!important;
    border-radius: 5px;
}
#numberverify .otp-input:focus {
    outline: none;
}
hr{
    border-top: #afb8a4 solid 1px !important;
}
.sub_banner {
    background-image: url(../home/abt-header.svg);
    background-position: bottom;
    position: relative;
    height: 26%;
    background-size: cover;
}
@media only screen and (max-width: 333px){
    /* .nsc img {
        width: 20px!important;
    } */
    .product-list .justify-content-start{
        justify-content:end!important;
        padding-top: 15px!important;
    }
}
@media only screen and (max-width:600px){
    /* .nsc img {
        width: 29px!important;
    } */
    .product-list .justify-content-start{
        justify-content:end!important;
    }
    .check_out_li .mul-address .max-height {
        height: 203px!important;
    }
    .product-list .price-list .cart-li-img {
        height: 130px;
    }
    .tick_img {
        width: 17px !important;
    }
    .cartList .qty-container{
        width: 104px;
    }
    .total{
        text-align: end;
    }
    .nsc .form-control {
        height: 37px;
    }
    .nsc .text-areaa{
        height: 97px;
    }
    .coupens .card  {
        height: 45px;
    }
    .nfhnsjhd{
        font-size: medium;
    }
    .css .form-control {
        font-size: 13px!important;
    }
    #availableCoupon span{
        font-size: 14px;
    }
    #Editaddress .form-control{
       font-size: 14px;
       color: #707070;
    }
    #Editaddress .form-select{
        font-size: 14px;
        color: #707070;
     }
     #Editaddress .dial-code{
        font-size: 14px;
        color: #707070;
     }
}
@media (min-width: 600px) and (max-width: 1024px){
    /* .nsc img {
        width: 38px!important;
    } */
    .qty-container{
        width: 50%!important;
    }
    .product-list .price-list .cart-li-img {
        height: 96px;
    }
    .tick_img {
        width: 17px !important;
    }
}
.no-product{
    text-align-last: center;
}
.no-product img {
    width: 20%;
}
.btns{
    border:1px solid var(--next-prev-arrow-color) ;
    color: var(--next-prev-arrow-color)!important;
}
.btns:focus{
    border:1px solid var(--next-prev-arrow-color) ;
    color: var(--next-prev-arrow-color)!important;
}

.btnss{
    background-color:var(--next-prev-arrow-color) ;
    color: #ffff!important;
}
.btnss:hover{
    background-color:var(--next-prev-arrow-color) ;
}
#Editaddress .dial_code {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 5px;
    border-right: unset;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    color: #707070;
}  
#Editaddress .form-select{
    color:#707070!important;
}    
#Editaddress #loader {
    border: 8px solid #c7c7c7;
    border-top: 8px solid #4070f4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    display: none;
}
.hdpi {
    z-index: 9999 !important;
}
@media (min-width: 575px) and (max-width: 600px){
    .qty-container {
        width: 75% !important;
    }
}
.coupens .card{
    border: 2px dashed var(--items-list-border-color);
}
#exampleModal_coupen .coupen_input{
    border: 1px solid var(--next-prev-arrow-color)!important;
}
#exampleModal_coupen .coupen_input::placeholder{
    color:#ccc;
}
#exampleModal_coupen .dashed-line {
    border-top: 2px dashed #ccc;
}
#exampleModal_coupen hr{
    color: #ccc;
}
#exampleModal_coupen li{
    list-style:disc;
}
#exampleModal_coupen .coupens_scroll{
    height: 400px;
    overflow-y: scroll;
}
#exampleModal_coupen .coupens_scroll::-webkit-scrollbar {
    width: 3px;
}
#exampleModal_coupen .coupens_scroll::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
}
#exampleModal_coupen .unbl_cpn .code{
    padding-left: 142px;
}
#coupenapplied .modal-dialog{
    max-width: 437px!important;
}
.tick_img{
    width: 24px;
    height: auto !important;
}
.coupen-applied{
    background-color: var(--items-list-border-color);
}
.apply_coupon{
    background-color : var(--next-prev-arrow-color);
    color: white;
    padding-top : .42rem;
    padding-bottom : .42rem;
}