
.bread-crumb{
    border-top: 2px solid var(--items-list-border-color);
}
.detail-card .detail_page_carousal .card{
    border: 1px solid var(--items-list-border-color);
}
.detail-card .detail_page_carousal .card.active{
    border: 3px solid var(--items-list-border-color);
}
.star path {
    transition: fill 0.3s;
}
.star path.active {
    fill: var(--next-prev-arrow-color);
}
.ratings svg {
    width: 25px!important;
    height: 25px!important;
    cursor: pointer;
}
.detail-card .detail_page_carousal .owl-prev {
    left: -13px;
}
.detail-card .detail_page_carousal .owl-next {
    right: -15px;
}
.detail-card .detail_page_carousal .owl-prev, .detail-card .detail_page_carousal .owl-next {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    width: 27px;
    height: 27px;
    background-color: var(--next-prev-arrow-color) !important;
    color: #fff !important;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.detail-card .detail_page_carousal .owl-prev.disabled, 
.detail-card .detail_page_carousal .owl-next.disabled {
    background-color: var(--items-list-bg-color) !important;
    color: #050504 !important;
    cursor: not-allowed;
    border: 1px solid var(--next-prev-arrow-color);
}

.detail-card .detail_page_carousal .owl-prev.disabled:hover, 
.detail-card .detail_page_carousal .owl-next.disabled:hover {
    color: var(--next-prev-arrow-color) !important;
}

.detail-card .price-detail .price-discount .card {
    background-color: var(--price-tag-color);
}
.detail-card .price-detail  hr{
    margin: 0.3rem 0!important;
}
.detail-card .price-detail .price-content{
    color:var(--detailprice-content-color);
}

.detail-card .price-detail .price .card {
    background-color: var(--items-list-bg-color);
}
.detail-card .qty-container .input-qty,.detail-card .qty-container .qty-btn-minus,.detail-card .qty-container .qty-btn-plus {
    width: 39px;
}
.add-to-cart .card1 {
    background-color:var(--items-list-border-color) ;
}
.add-to-cart .card2 {
    background-color:var(--next-prev-arrow-color) ;
}
.detail-card .price-detail .delivery-cnt h6 {
   color: var(--detailprice-content-color);
}
.detail-card .price-detail .delivery-cnt img {
    width: 19px;
    filter: grayscale(1) invert(1);
}
.detail-card .price-detail .delivery img {
    width: 49px;
    height: 39px;
}
.detail-img img{
   height:450px;
   object-fit: contain;
}
.detail_page_carousal img{
    height:80px;
    object-fit: contain;
}
.truncate-text {
    max-width: 100%; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.item-image{
    height: 250px;
    object-fit: contain;
}
.max-height {
    height: 34px; /* Adjust this height to match two lines of your font size */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#information p{
    font-size: 13px;
}
/* tab */
.detail-img .demo-trigger:hover {
    cursor: grab;
}

/* .detail-img .demo-trigger:hover {
    border: 2px solid black;
    box-sizing: border-box; 
} */


.details .tab-head{
    color: var(--detailprice-content-color);
    cursor: pointer;
}
.details .activated{
    border-bottom: 2px solid var(--price-content-color);
    padding-bottom: 7px;
    cursor: pointer;
    color: #000!important;
     opacity: 3 !important;
}
.tab-content {
    display: none;
}
#description p{
    line-height: 30px;
}
.tab-content.active {
    display: block;
}
.details .review .write-review{
   color: var(--items-red-color)!important;
   text-decoration: underline;
   cursor: pointer;
}
.details .review .card{
   border: 1px solid var( --items-list-border-color);
}
.hide-reviews{
    color: #FF5252;
    text-decoration: underline;

}
.hide-review{
    color: #FF5252;
}
.detail-card .price-detail .zoom-in {
    position: absolute;
    width: 40%;
    float: left;
    z-index: 9;
}
.hovered {
    background-color:#fff;
}
.liked_images .owl-item {
    border: 1px solid var(--items-list-bg-color);
}
.review-form button{
    background-color:var( --price-content-color) ;
}
.review-form button:hover{
    background-color:var( --price-content-color) ;
    color: #fff;
}
.review-form .form-control::placeholder {
    color: #AEAEAE;
}
.review-form textarea {
    height: 150px; /* Adjust the height as needed */
}
.review-form input::placeholder {
    font-size: 14px;
}
.review-form textarea::placeholder {
    font-size: 15px;
}
.activecls {
    background-color: var(--next-prev-arrow-color) !important;
    color:#ffff;
}
.carousel-wrap .owl-carousel .disabled {
    display: none;
}
.carousel-wrap .owl-carousel .owl-prev, .carousel-wrap .owl-carousel .owl-next {
    position: absolute;
    top: 36%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border: 1px solid #474747!important;
    color: #000 !important;
    cursor: pointer;
    border-radius: 50%;
}
.carousel-wrap .owl-carousel .owl-prev {
    left: -8px;
}
.carousel-wrap .owl-carousel .owl-next{
    right: -8px;
}
.detail-card .PrdRow .qty-container{
    width: 120px;
}
.location-selection .input-container {
    border: 1px solid var(--items-list-border-color);
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    background-color: none;
    }
    
    .location-selection .location-icon {
    color: var(--next-prev-arrow-color);
    font-size: 1.2rem;
    }
    
    .location-selection .input-container input {
    flex-grow: 1;
    outline: none;
    background-color: none;
    color: #343a40;
    }
    
    .location-selection .input-container button {
    white-space: nowrap;
    color: #6c757d;
    }
    .location-selection .input-container button:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
    }
    
    .location-selection .input-container input:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
    }
    
    .location-selection .vertical-line {
    width: 1px;
    height: 24px;
    background-color: var(--items-list-border-color);
    margin: 0 0.75rem;
    }
    
    .location-selection .address-card {
    border: 1px solid var(--items-list-border-color);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    }
    .location-selection .address-card:hover {
    border-color: #007bff;
    }
    .location-selection .custom-radio {
    margin: 0;
    }
    .location-selection .pincode-section {
    display: flex;
    align-items: center;
    margin-top: 15px;
    }
    .location-selection .pincode-section .form-control {
    flex: 1;
    }
    .location-selection .pincode-section .check-button {
    margin-left: 10px;
    }
    .location-selection .separator {
    display: flex;
    align-items: center;
    text-align: center;
    }
    
    .location-selection .separator::before,
    .location-selection .separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
    }
    
    .location-selection .separator:not(:empty)::before {
    margin-right: 0.25em;
    }
    
    .location-selection .separator:not(:empty)::after {
    margin-left: 0.25em;
    }
    .location-selection .card-body {
    position: relative;
    padding-top: 20px; /* Adjust padding to make space for the tooltip */
    }
    
    .location-selection .tooltip-arrow {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 16px solid #fff;
    position: absolute;
    top: -9px;
    left: 92%;
    transform: translateX(-50%);
}
.location-selection .selectAddress {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    }
    .location-selection .selectAddress.selected {
    background-color: #f9fcf6;
    border-color: var(--next-prev-arrow-color);
    }
    .location-selection .form-check-input:checked{
    background-color: var(--next-prev-arrow-color);
    border-color: var(--next-prev-arrow-color);
    }
    .location-selection .form-check-input:focus {
    border-color: var(--next-prev-arrow-color);
    outline: 0;
    box-shadow: 0 0 10px var(--items-list-border-color) !important;
}
.location-selection .card{
    margin-top: -13px;
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.location-selection .btnss{
    background-color: var(--next-prev-arrow-color);
}

@media only screen and (max-width: 346px){
    .details .tab-head h6{
        font-size: 9px!important;
    }
    .add-to-cart .card .px-5{
        padding-right: 2rem!important;
        padding-left: 2rem!important; 
    }
}
@media only screen and (max-width:600px){
    .detail-card .price-detail .zoom-in {
      display: none!important;
    }
    .details .tab-head h6{
        font-size: 11px;
    }
    .detail-card .detail_page_carousal .owl-prev, .detail-card .detail_page_carousal .owl-next {
        width: 22px!important;
        height: 24px!important;
    }
    .detail_page_carousal img {
        height: 40px!important;
    }
    .carousel-wrap .owl-carousel
    .owl-prev,.carousel-wrap .owl-carousel .owl-next {
        display: none;
    }
    .carousel-wrap .owl-stage{
        padding-left: 0px!important;
    }
    .detail-img img {
        height: 327px!important;
    }
    .item-image {
        height: 130px!important;
    }
    .detail-card .price-detail .delivery img {
        width: 40px!important;
        height: 33px!important;
    }
    .detail-card .price-detail .delivery-cnt img {
        width: 25px!important;
        height: 22px!important;
    }
    .adadas{
        width: 100%!important;
    }
    .max-height {
        height: 29px;
        -webkit-line-clamp: 2;
    }
    #information p {
        font-size: 11px;
    }
    .prdct_name{
        font-size: 17px;
    }
}
@media (min-width: 600px) and (max-width: 1024px){
    .detail-card .price-detail .zoom-in {
        width: 96%;
        /* display: none!important; */
        /* height: 30%; */
    }
    .detail_page_carousal img {
        height: 47px!important;
    }
    .details .tab-head h6{
        font-size: 15px!important;
    }
    .hghg{
        font-size: 16px;
    }
}
@media (min-width: 600px) and (max-width: 767px){
    .detail_page_carousal img {
        height: 83px!important;
    }
}
@media (min-width: 1374px) and (max-width: 1700px){

}
@media (min-width: 1700px){

}
.trapezoid1 {
    border-bottom: 25px solid red;
    border-left: 25px solid transparent !important;
    border-right: 27px solid transparent !important;
    height: 0px;
    width: 145px;
    margin-left: -42px;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    transform: rotate(-45deg);
}
.detail-card .tag, .liked_images .tag{
    z-index: 9;
}