@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd,  fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:none;
}

:root {
    color-scheme:light!important;
}

*{
	line-height:1.5;
    font-weight:normal;
    font-family: "poppins";
}

ol, ul {
	list-style:none;
}

a{
  text-decoration: none;
  color:hsl(0, 0%, 0%) !important;
}
hr{
    border-top:var(--items-list-border-color) solid 2px!important;
}
.btn:focus{
    outline: 0;
    border: #fff;
}
fieldset, legend {
    all: revert;
}
.red{
    color: var(--items-red-color);
}
.like_img{
    width: 24px !important;
}
.h-sm{
   font-size: 11px;
}
.h-sms{
   font-size: 13px;
}.sub_star {
    width: 78px !important;
}
.buy-color{
    color: var(--next-prev-arrow-color);
}
.green{
    color: var(--password-green-color);;
}
.wishlist .div{
    border:1px solid var(--items-list-bg-color);
}
.wishlist {
    .max-height {
        height: 34px; 
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
.wishlist .div:hover {
    box-shadow: 0px 3px 25px #00000014;
}
.box-shawdow:hover{
    box-shadow: 0px 3px 25px #00000014;
}
.icons-menu{
    width: 23px;
}
.pb--5{
   padding-bottom: 20px;
}
/* topnav */
.top-nav{
    background-color: var(--next-prev-arrow-color);
    position: relative;
}
.top-nav .owl-next, .top-nav .owl-prev {
    margin-top: -30px;
    position: absolute;
}
.top-nav .owl-next span , .top-nav .owl-prev span{
    color: #fff!important;
    font-size: 25px;
}
.top-nav .owl-prev {
  left: -42px;
}
.top-nav .owl-next {
    right: -59px;
}
.search_menu_nav .menu_icons img {
    width: 15px;
}
.cart_img_nav{
    width: 19px!important;
}
.down-ar-nav{
    width: 12px!important;

}
.like_nav{
    width: 18px!important;
}
.login_nav{
    width: 12px!important;
}
.search_menu_nav .form-control{
    border: 1px solid var(--next-prev-arrow-color);
}
.srch_icon{
    border-top: 1px solid var(--next-prev-arrow-color) !important;
    border-bottom: 1px solid var(--next-prev-arrow-color) !important;
    border-right: 1px solid var(--next-prev-arrow-color) !important;
}
.search_menu_nav{
    background-color: var(--items-list-bg-color);
}
.cursor{
    cursor: pointer;
}
#query::placeholder {
    font-size: 14px; /* Adjust the font size as per your preference */
}
.navbar-brand img{
    width: 106px;
}
#product .owl-stage{
    display: flex;
    align-items: center;
}

/* horizontal lines  */

.with-horizontal-line {
    position: relative;
}

.with-horizontal-line::before,
.with-horizontal-line::after {
    content: '';
    position: absolute;
    top: 50%; 
    width: 18%; 
    height: 1px; 
    background-color: #E6B24E; 
}

.with-horizontal-line::before {
    transform: translateX(-110%); /* Move left by 100% of its own width */
}

.with-horizontal-line::after {
    transform: translateX(13%); /* Move right by 100% of its own width */
}

.cart-btn{
    padding: 4px 10px;
    background-color: var(--next-prev-arrow-color);
    border-radius: 5px;
}
.top_re_cart .btn:hover {
    background-color: var(--next-prev-arrow-color); 
    border-color: var(--next-prev-arrow-color);
}
.top_re_cart img{
    filter: brightness(0) invert(1) grayscale(1);
    width: 17px;
}

/* item list */

.star {
    width: 15px!important;
    height: 15px!important;
}
.off{
    color: var(--next-prev-arrow-color);
}

.item-list .div{
    border:1px solid var( --items-list-bg-color);
}
.item-list .div:hover{
   box-shadow: 0px 3px 25px #00000014;
}
/* .card .best_seller{
    margin-left: -16px;
} */
.price_info .price{
    color: var(--price-content-color);
}
  #pointer {
    width: 90px;
    height: 22px;
    position: relative;
    background: var(--price-tag-color);
  }
  #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 11px solid white;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
  }
  #pointer:before {
    content: "";
    position: absolute;
    right: -11px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 11px solid var(--price-tag-color);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
  }
.card .add-to-cart {
    visibility: visible;
    bottom:0;
}
.card .add-to-cart .p-1{
    padding-top: 0.26rem !important;
    padding-bottom: 0.26rem !important;
}
.card:hover .add-to-cart {
    visibility:visible;
    bottom: 0;
    position: relative;
}
.bg-clr{
    background-color: var(--next-prev-arrow-color)!important;
}
.del-clr{
    text-decoration-color: red!important;
}
.outofstock::after {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 45%;
    width: 85%;
    border-bottom: 2px solid red;
}
#card_and_carousal .owl-slide{
   border: 1px solid var(--items-list-bg-color);
}

/* subcategory */
.sub_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../home/abt-header.svg');
    background-position: bottom;
}

/* marquee */
marquee_content{
    background-color: #795548;
}

.marquee_content .marquee {
    --duration: 14s;
    display: flex;
    overflow: hidden;
    gap: var(--gap);
}

.marquee_content .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
    padding-left: 30px;
}
.marquee_content .marquee h5{
   color: #fff;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% ));
    }
}

.marquee_content .marquee img{
   width: 25px;
}

.marquee_content2{
    background-color: #FFFFFF !important;
}

.marquee_content2 .marquee {
    --duration: 14s;
    display: flex;
    overflow: hidden;
    gap: 2rem;
}

.marquee_content2 .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    animation: scroll var(--duration) linear infinite;
}
.marquee_content2 .marquee h5{
   color: #fff;
}
.marquee_content2 .marquee__group img{ 
    width: 270px !important;
    height: 310px !important;
}
.marquee_content2 .marquee:hover .marquee__group {
    animation-play-state: paused;
}

.hover-pading .py-1{
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

/* products list */

.product .owl-next, .product .owl-prev {
    margin-top: -25px;
    position: absolute;
    top: 50%;
}
.product .owl-next span , .product .owl-prev span{
    color: var(--next-prev-arrow-color);
    font-size: 30px;
}
.product .owl-prev.disabled span, 
.product .owl-next.disabled span{
    color: #cccccc !important;
}
.product .owl-prev {
  left: -10px!important;
}
.product .owl-next {
    right: -8px!important;
}
.mbl-view{
    display: none!important;
}
.sys-view{
    display: block!important;
}

.nav-cart {
    position: relative;
}

.nav-cart .badge {
    width: 18px;
    height: 17px;
    font-size: 10px;
    box-shadow: 1px 1px 3px #0000004d;
    background-color: var(--items-red-color);
    color: white;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 8px;
    z-index: 1;
}

.nav-cart img {
    z-index: 0;
}
.input-text {
    outline: none;
    border: none;
}

.input-text:hover,
.input-text:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.fw-bold-res{
    font-weight: 500;
}
#menuopen hr {
    margin: 0rem 1rem;
}

/* Add to cart */

.cart_add_section 
{
    .card1 {
        border: 1px solid var(--items-list-bg-color);
        img{
            height: 85px;
            object-fit: contain;
        }
    }
    #related-items-cart img{
        height: 90px;
        object-fit: contain;
    }
    .list-items {
        height: 440px;
        overflow-y: scroll;
    }
    
    .list-items::-webkit-scrollbar {
        width: 3px;
    }
    
    .list-items::-webkit-scrollbar-track {
        background: #FFF;
    }
    
    .list-items::-webkit-scrollbar-thumb {
        background:rgb(194, 193, 193);
        width: 2px;
    }
    .empty-cart{
        text-align: -webkit-center;
        align-content: center;
    }
    .qty-container{
        width: 106px;
    }
    
}
#closeIcon{
width: 15px;
}
.offcanvas-body{
    button, .li-item{
        font-size: 14px;
    }
}
.cart_add_section .like-img{
    top: 0;
    right: 0;
}
.cart_add_section .main-card {
    border: 1px solid var(--items-list-border-color);
}
.qty-container .qty-btn-minus, .qty-container .qty-btn-plus{
    cursor: pointer;
}
.cart_add_section .related-items{
    background-color: var(--items-list-bg-color);
}
.cart_add_section .owl-prev {
    left: -7px;
}
.cart_add_section .owl-next {
    right: -10px;
}
.cart_add_section .owl-prev, .cart_add_section .owl-next {
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background-color: var(--next-prev-arrow-color) !important;
    color: #fff !important;
    cursor: pointer;
    border-radius: 50%;
}
.cart_add_section .subtotal .card{
    border: 1px solid var(--items-list-border-color);
}
.cart_add_section .check-out a{
    background-color: var(--next-prev-arrow-color);
    color: #fff;
}
.cart_add_section .check-out a:hover{
    background-color: var(--next-prev-arrow-color);
    color: #fff;
}
.responsive_logo{
    width: 110px;
}
/* menu */

#menuopen .accordion-button {
    padding: 0px 2px 17px 4px !important;
}

#menuopen .menu-list h5 {
    padding: 0px 2px 17px 4px !important;
}
#menuopen .login .card{
    background-color:var(--price-content-color) ;
}
.logout{
    width: 19px;
}
/* footer */

#footer {
    .logo_img{
        filter: brightness(0) invert(1) grayscale(1);
        width: 131px;
    }
}
#footer .footer-body{
    padding-bottom: 30px;
    background-color:var(--price-content-color);
}
#footer .locations img{
    width: 17px;
    height: 17px;
}
.down-ar{
    filter: brightness(0) invert(1) grayscale(1);
}
#footer .down-ar{
    width: 12px;
}
.up-ar{
    filter: brightness(0) invert(1) grayscale(1);
}
.btn{
    outline: none;
    border: none;
}
    
.btn:hover,
.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/*detail*/
.price{
    color: var(--price-content-color);
}
.detail-img{
    position: relative;
}

.detail-img .sold-out-text {
    position: absolute;
    top: 50%; 
    left: 0;
    width: 100%; 
    transform: translateY(-50%);
    background-color: rgb(0 0 0 / 70%); 
    color: white;
    padding: 15px ; 
    box-sizing: border-box; 
    z-index: 1; 
}

.best-seller{
    .svg-img{
        width:120px;
        margin-left: -21px;
    }
    .best-text{
        top: 40%; left: 20%; transform: translate(-50%, -50%);
    }
}
/* sign in and sign up*/
#signin .modal-bodys .btn, #signup .modal-bodys .btn, #notifyMepopup .modal-bodys .btn{
    background-color: var(--next-prev-arrow-color);
    border-radius: 2px!important;
}
.jhhrf{
padding-top: 155px!important;
}
#signin .modal-content, #signup .modal-content{
    border-radius: 2px!important;
}
#signin .modal-bodys, #signup .modal-bodys{
    border-radius: 2px!important;
}
#signin .form-control, #signup .form-control {
    border-radius: 3px;
}
#signin .click-here, #signup .click-here {
    color: var(--items-red-color)!important;
    cursor: pointer;
}
#signin input::placeholder,#signup input::placeholder{
    font-size: 14px;
    color: #000;
}
.phonenumber_dial_code{
    border-left: unset !important;
    border-bottom-left-radius: unset !important;
    border-top-left-radius: unset !important;
}
.passwordStrength{
    font-size: 14px;
    padding: 4px 2px;
    color: var(--alterprice-content-color);
    svg path{
        fill: var(--alterprice-content-color);
    }
}
.orderpacedpng{
    filter: grayscale(2) invert(0);
}
.passwordStrength.strong, .phone_number_verified{
    color: var(--password-green-color);
    svg path{
        fill: var(--password-green-color);
    }
}
.phone_number_verified{
    text-align-last: end;
}
.close-btn{
    cursor: pointer;
    margin-right: -20px!important;
    padding: 0rem!important;
    width: 20px;
}
.nav-link{
    cursor: pointer;
}

.static-icons {
    img{
       width: 25px;
    }
    .card{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px -1px 10px #00000029;
    }
}
.price_clr{
    color: var(--next-prev-arrow-color);
}
/* mega menu */

  .menu-large {
    position: static !important;
  }
  .dropdown .dropdown-menu {
    display: none;
    background-color: #fff;
    opacity: 0;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
  } 
   
  .megamenu {
    width: fit-content;
    z-index: 9999;
  }
  .megamenu li ul {
    padding: 0;
    margin: 0;
  }
  .megamenu li ul li {
    list-style: none;
  }
  .megamenu li ul li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
  }
  .megamenu li ul li a:hover, .megamenu li ul li a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }
  .megamenu.disabled a, .megamenu.disabled a:hover, .megamenu.disabled a:focus {
    color: #999999;
  }
  .navbar-expand-lg .navbar-nav li a:hover {
    color: var(--next-prev-arrow-color)!important;
  }
  #homedocs .card h6, #preview .card h6 {
    margin-top: 10px;
  }
  .navbar-expand-lg .navbar-nav li a:focus {
    color: #0D0D0D!important;
  }

  .navbar-expand-lg .menu-large .dropdown-menu {
    position: absolute;
    right: 0px;
    top: 59px;
    left: 0px;
    margin: 0 auto;
    border-radius: 0px;
    border: #f8f8f80f;
    box-shadow: 0px 3px 25px #00000040;
  }
.mbl-view .cartGo img{
    filter: brightness(0) invert(1) grayscale(1);
    width: 20px;

}
  .fixed-top {
    background-color: var(--items-list-bg-color);
  }
  .bg-grey{
    background-color: var(--items-list-bg-color);
  }
  .bg-white{
    background-color: #FFF;
  }
  .megamenu .width_menu{
    width: 100%;
  }
  .megamenu .border_dcz {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 100px;
    h5, h6{
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
        white-space: nowrap;
        font-size: 13px;
    }
  }

  .dropdown-toggle:after {
    display: none;
  }
  .navbar-first .dropdown-toggle, .navbar .nav-link{
    color: #0D0D0D;
  }

/* search */
#search {
    .list-ui{
      z-index: 99;
    }
    .input-group {
        z-index: 99;
    }
    #result {
        background-color: #fff;
        border: 1px solid var(--next-prev-arrow-color)!important; 
        border-radius: 0 0 5px 5px; 
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        max-height: 200px;
        overflow-y: auto; 
    }

    .star{
        width: 15px!important;
        height: 15px!important;
    }
    ::-webkit-scrollbar {
        width: 3px;
    }
      
      /* Track */
    ::-webkit-scrollbar-track {
        background: #FFF; 
    }
       
      /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--next-prev-arrow-color); 
        width: 2px;
    }
   
}
.srch-img{
    width: 84px;
    height: 68px;
    object-fit: contain;
}
.offcanvas-top {
    /* height:52%!important; */
    .offcanvas-body{
       z-index: 9;
    }
    .input-text{
        padding: 5px 30px;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--next-prev-arrow-color);
        border-radius: 0;
    }
    .search-btn {
        color: var(--font-color-header);
        font-size: 16px;
        position: absolute;
        right: 23px;
        top: 22px;
    }
    #result {
        background-color: #fff;
        border-radius: 0 0 5px 5px; /* Optionally, adjust border radius */
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optionally, add box shadow */
        max-height: 260px; /* Optionally, add max height */
        overflow-y: auto; /* Optionally, add scrollbar when overflow */
    }
    .list-ui{
        padding-top: 130px;
    }
}
#Editpopup, .detail-card{
    .price-discount{
        small{
            background-color: var(--price-tag-color);
        }
        h6{
            font-size: 16px;
        }
    }
    .star{
        width: 15px!important;
        height: 15px!important;
    }
    .price .card{
        background-color: var(--items-list-bg-color);
    }
    .price .active {
        background-color: var(--next-prev-arrow-color) !important;
        color:#ffff;
    }
    .add-to-cart .card1{
        background-color: var(--items-list-border-color);
    }
    .modal-dialog{
        --bs-modal-width: 699px!important;
    }
}

.dffe .qty-container {
    width: 120px;
}
/* hove image */
.hover-img {
    transform: scale(1.08);
    transition: opacity 0.6s ease-in-out;
    opacity: 0;
    top:0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}
.default-img{
    opacity: 1;
    transform: scale(1.01); 
}
.card:hover .hover-img {
    opacity: 1;
}
.card:hover .default-img {
   opacity: 0;
}
.add-div{
    bottom: 0;
    .row{
        margin-left: -19px;
    }
}

/* forgot password */
#forgotpassword{
    .btn{
        background-color: var(--next-prev-arrow-color);
    }
}
.forgot-password{
    .form-control
    {
        border: 1px solid var(--next-prev-arrow-color)!important;
    }
    input::placeholder{
        font-size:14px;
    }
    .px-5 {
        padding-right: 7rem !important;
        padding-left: 7rem !important;
    }
    .btn{
        background-color: var(--next-prev-arrow-color);
    }
    .card{
        border: 1px solid var(--items-list-border-color);
    } 
}

.invoice-footer{
    background-color: var(--price-content-color);
    .erfef{
        height: 128px;
    }
}

/* scroll to top */
#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: var(--next-prev-arrow-color);
    cursor: pointer;
    padding: 9px 13px;
    border-radius: 50%;
    color: #fff;
  }
  
#scroll-to-top:hover {
    background-color: var(--next-prev-arrow-color);
}
  .eq-height{
    height: 530px;
  }

  .box {
    width: 170px;
    height: 149px;
    background-color: #fff;
    padding: 11px;
    margin-top: 10px;
    box-shadow: 0px 5px 5px #00000029;
    z-index: 9;
    display: none;
    hr{
        margin-top: 4px;
        margin-bottom: 4px;
    }
  }
  
  /* .after-login:hover + .box {
     display: block;
   } */
  
  .box.arrow-top:after {
    content: " ";
    position: absolute;
    right: 73px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #fff;
  }
  .form-control:disabled {
    background-color: #fff!important;
  }

/* toast */
.toast-success{
   background-color: #fff!important;
   border: 0!important;
}

#toast-container>div:hover {
    box-shadow: 0 0 12px #666!important;
    border: 0!important;
}

/* order-placed */
.order-placed{
    .o-border{
        border-left: 2px dashed var(--next-prev-arrow-color);
        border-right: 2px dashed var(--next-prev-arrow-color);
    }
    .btnss{
         background-color: var(--next-prev-arrow-color);
    }
}

/* contact-us */
.contact-us{
    .breadcrumb{
        padding-left: 80px;
    }
    .center-cnt{
        padding-left: 212px;

    }
    .contact-us-body{
        .clrs{
            background-color: var(--aboutus-color);
        }
        .px-2{
            padding-right: .7rem !important;
            padding-left: .7rem !important;
        }
        .form-control{
           border:1px solid var(--next-prev-arrow-color);
        }
        .form-control::placeholder{
            color: var(--alterprice-content-color);
        }
        .col6{
            margin-top: -40px;
        }
        .card{
            background-color: var(--aboutus-color);
            border: 1px solid #eaece9;
            .btn{
                background-color: var(--next-prev-arrow-color);
            }
        }
    }
}
.login-svg{
    width: 10px;
    filter: brightness(0) invert(1) grayscale(1);
}

/* About us */

.tab-mbl-views{
    display: none;
}
#aboutus-carousals{
    .card{
        background-color: #6BF4A6;
    }
}
.box .cursor:hover  svg path {
    fill: var(--next-prev-arrow-color);
/* transition: .35s cubic-bezier(.25,.1,.25,1); */
}

.box .cursor:hover .h-sms {
    color: var(--next-prev-arrow-color); 
    /* transition: .35s cubic-bezier(.25,.1,.25,1); */
}

.tab-mbl-views{
    .card{
        background-color: #6BF4A6!important;
    }
}

.tab-mbl-views .owl-carousel{
    .disabled {
       display: none;
    }
    .owl-prev, .owl-next {
       position: absolute;
       top: 40%;
       transform: translateY(-50%);
       width: 28px;
       height: 28px;
       background-color: #fff!important;
       border: 1px solid #0F9D58!important;
       color: #0F9D58 !important;
       cursor: pointer;
       border-radius: 50%;
    }
    .owl-prev {
       left: 3px;
    }
    .owl-next{
       right: 3px;
    }
}
.mbls-view {
   display: none;
}
.cardsfww{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}
.sub_starssearch{
    width: 80px;
}
#flush-collapseTwo{
    img{
     width: 18px;
    }
}
.mbl-cart-img{
    filter: brightness(0) invert(1) grayscale(1);
    width: 17px!important;
}
.plus-icon{
    width: 16px;
}
@media only screen and (max-width: 333px){
    .mbl-view{
        display: block!important;
    }
    .sys-view{
        display: none!important;
    }
    .sub_banner {
        height: 26%!important;
    }
}
@media only screen and (max-width:767px){
    .mbls-view {
        display: block!important;
     }  
}
@media only screen and (max-width:600px){
    h4{
        font-size: small;
    }
    h5{
        font-size: small;
    }
    h6{
        font-size: small;
    }
    .top-nav .owl-prev {
        left: 10px!important;
    }
    .top-nav .owl-next {
        right: 10px!important;
    }
    .mbl-view{
        display: block!important;
    }
    .sys-view{
        display: none!important;
    }
    .star {
        width: 13px!important;
        height: 13px!important;
    }
    .tab-views{
        display: block!important;
    }
    /* #menuopen{
        width: 303px;
    } */
    #offcanvasRight{
        width:300px
    }
    #footer .container {
        padding:0 25px 0 25px!important;
    }
    .sub_banner {
        height: 19%;
    }
    .close-btn{
        margin-right: 2px!important;
    }
    .h-sms{
        font-size: 12px;
    }
    #pointer {
        width: 80px;
        height: 20px;
        .h-sms{
            font-size: 10px!important;
        }
    }
    #pointer:after {
        border-left: 10px solid white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    #pointer:before {
        border-left: 10px solid var(--price-tag-color);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        right: -10px;
    }
    .marquee_content2 .marquee__group img {
        width: 208px !important;
        height: 223px !important;
    }
    .marquee_content .marquee__group {
        min-width: 222%;
    }
    .menu-font{
        font-size: large;    
    }
    .contact-us-body.col6{
        margin-top: 10px!important;
    }

    .system-view{
        display: none;
    }
    .wrapper .tooltip:after {
        left: 43%!important;
    }
    .wrapper:hover .tooltip {
        left: 0%!important;
    }
    .top-nav{
        display: none;
    }
    .best-seller{
        .svg-img{
            width:80px!important;
        }
    }
    .static-icons {
        img {
            width: 17px;
        }
    }
    .like_nav {
        width: 20px !important;
    }
    .login_nav {
        width: 14px !important;
    }
    #card_and_carousal{
        .svg-img {
            width: 100px!important;
            margin-left: -24px;
        }
        .best-text {
            top: 40%;
            left: 12%;
            transform: translate(-50%, -50%);
        }
    }
    #footer{
        padding-bottom: 54px;
    }
    .sec-2{
        .mbl-view{
            img{
                height: 110px;
            }
        }
    }
    .contact-us {
        & .contact-us-body {
            .col6 {
                margin-top: 0px!important;
            }
        }
    }
    .contact-us {
        .breadcrumb {
            padding-left: 11px!important;
        }
    }
    .contact-us {
        .center-cnt {
            padding-left: 0px!important;
            text-align: center;
        }
    }
    .tab-mbl-views{
        display: block!important;
    }
    .wrapper .tooltip:after {
        left: 50%!important;
    }
    .content-item {
        p{
            font-size: 11px;
        }
        h2{
            font-size: 16px;
        }
    }
    .jhhrf {
        padding-top: 62px !important;
    }
    .sign-in-bg .heading{
        font-size: 17px;
    }
    .rfkjref .py-5{
        padding-top: 5rem !important;
    }
    .wishlist {
        .max-height {
            height: 29px;
            -webkit-line-clamp: 2;
        }
        .item-image {
            height: 130px!important;
            object-fit: contain;
        }
    }
    .hover-pading .py-1 {
        padding-top: 0.47rem !important;
        padding-bottom: 0.50rem !important;
        border-radius: 0!important;
    }
    .card .add-to-cart .p-1 {
        padding-top: 0.26rem !important;
        padding-bottom: 0.27rem !important;
        border-radius: 0!important;
    }
    .add-to-cart .ps-1{
        padding-left: 0rem !important;
    }
    input::placeholder {
        font-size: 14px;
    }
    textarea::placeholder {
        font-size: 14px;
    }
    .list-items {
        height: 554px!important;
    }
    .offcanvas-top #result{
        box-shadow: 0 2px 4px rgb(251 251 251 / 10%);
    }
    .card .add-to-cart {
        visibility: visible!important;
    }
    .card:hover .add-to-cart {
        visibility:visible;
    }
    #privacy-policy h1{
        font-size: 22px;
    }
    #privacy-policy p,  #privacy-policy li{
        font-size: 12px;
    }
    .about-us-banner {
        height: 120px!important;
    }
    .contact-us-banner {
        height: 113px!important;
    }
}
@media (min-width: 768px) and (max-width: 900px){
    .wrapper:hover .tooltip {
        left:20%!important;
    }
    .wrapper .tooltip:after {
        left: 39%!important;
    }
}
@media (min-width: 600px) and (max-width: 1024px){
    h4{
        font-size: small;
    }
    h5{
        font-size: small;
    }
    h6{
        font-size: small;
    }
    .container {
        max-width: 889px!important;
    }
    .tab-view{
        display: none!important;
    }
    .tab-views{
        display: block!important;
    }
    .star {
        width: 17px!important;
        height: 17px!important;
    }
    .sub_banner {
        height: 14%!important;
    }
    .top-nav .owl-prev {
        left: 111px;
      }
    .top-nav .owl-next {
        right: 111px;
    }
    .menu-font{
        font-size: x-large;    
    }
 
    .system-view{
        display: none;
    }
    .top-nav{
        display: none;
    }
    .static-icons {
        img {
            width: 20px;
        }
    }
    .like_nav {
        width: 23px !important;
    }
    .login_nav {
        width: 14px !important;
    }
    #footer{
        padding-bottom: 54px;
    }
    .contact-us {
        & .contact-us-body {
            .col6 {
                margin-top: 50px!important;
            }
        }
    }
    .marquee_content .marquee__group {
        min-width: 115%;
    }
    .contact-us {
        .center-cnt {
            padding-left: 0px!important;
            text-align: center;

        }
    }
    .tab-mbl-views{
        display: block!important;
    }
    .content-item {
        p{
            font-size: 14px;
        }
        h2{
            font-size: 18px;
        }
    }
    .best-seller{
        .svg-img{
            width:89px!important;
        }
    }
    .list-items {
        height: 554px!important;
    }
    .offcanvas-top #result {
        box-shadow: 0 2px 4px rgb(251 251 251 / 10%);
    }
    .sign-in-bg .heading{
        font-size: 17px;
    }
}
@media (min-width: 1025px) and (max-width: 1199px){
    .search_menu_nav 
    {
      .container {
        max-width: 1215px!important;
       }  
       .ps-4 {
        padding-left: 0rem !important;
       }
       .px-3{
            padding-right: 0.1rem !important;
            padding-left: 0.99rem !important;
        }
    }
    .nav-cart .badge {
        right: -5px!important;
    }
}

@media (min-width: 996px) and (max-width: 1199px){
    .container{
        max-width: 1033px!important;
    }
}

@media (min-width: 1374px) and (max-width: 1700px){

}
@media (min-width: 1700px){

    .container {
        max-width: 1669px;
    }
}
@media(min-width:300px) and (max-width:767px){
    .sys-views{
        display: none!important;
    }
}
@media (min-width: 600px) and (max-width: 800px){
    .sec-2 {
        .sys-view{
            img{
                height: 380px;
            }
        }
    }
    
}
.reviews-div{
    z-index: 9;
}
.error{
    color: var(--items-red-color)!important;
    font-size: 12px;
}
/* Define styles for the loader */
.loader {
  border: 1px solid #f3f3f3;
  border-top: 2px solid #4caf50;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* Define keyframes for the spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.dial_code{
    align-self: center;
    border: 1px solid var(--next-prev-arrow-color);
    padding: .375rem 0rem .375rem .75rem;
    border-radius: 3px;
    border-right: unset;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}
.get_otp{
    text-align-last: end;
    padding-right: 5px;
    color: var(--price-content-color);
    text-decoration: underline;
    font-size: 12px;
}
.password{
    border-bottom-right-radius: unset !important;
    border-top-right-radius: unset !important;
    border-right: unset !important;
}
.view-password{
    border: 1px solid var(--next-prev-arrow-color);
    align-content: center;
    font-size: 10px;
    padding: 4px 10px 0px 10px;
    border-radius: 3px;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-left: unset;
}
#numberverify {
    .btn{
        background-color: var(--next-prev-arrow-color);
    }
    .otp-container {
    display: flex;
    justify-content: center;
    }

    .otp-input {
        width: 62px;
        height: 40px;
        margin: 0 9px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid var(--next-prev-arrow-color)!important;
        border-radius: 5px;
    }

    .otp-input:focus {
    outline: none;
    }
}
.seconds-counter{
    width: 10%;
}
.tab-head:focus{
    background-color: none!important;
}
.accordion-collapse ul{
    background-color: var(--items-list-bg-color);
    padding: 3px 10px 7px 30px;
    border-radius: 5px;
    li{
        margin-top: 7px;
        font-size: 14px;
    }
}

.wrapper {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
  }
  
  .wrapper .tooltip {
    height: 54px;
    background: #fff;
    bottom: 59%;
    display: block;
    margin-bottom: 15px;
    opacity: 0;
    position: absolute;
    -webkit-transform: translateY(10px);
       -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
         -o-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
         -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  }
  
  /* This bridges the gap so you can mouse into the tooltip without it disappearing */
  .wrapper .tooltip:before {
    content: " ";
    display: block;
    position: absolute;
  }  
  
  /* CSS Triangles */
  .wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #fff 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 59%;
    margin-left: -13px;
    position: absolute;
    width: 0;
    cursor: pointer;
  }
    .ewfwefw{
        height: 35px;
        width: max-content;
    }

  .info-tooltip:hover + .tooltip {
    opacity: 1; /* Show the tooltip on hover */
    pointer-events: auto; /* Enable pointer events */
    transform: translateY(0); /* Reset the offset */
    /* left: 70%; */
    border-radius: 8px;
}
  
#notifyMepopup h6{
    line-height: 30px;
}
.Quick-shop-img{
    filter: brightness(0) invert(1) grayscale(1);
    width: 19px!important;
}
#flush-collapseOne{
    .sub-list {
        display: none;
        list-style-type: none;
    }
    .sybl{
        font-size: 19px;
    }
}
.fw-bold {
    font-weight: 600 !important;
}
#closeIcons{
    width: 11px;
}