.banner{
    overflow: hidden;
    .sys-view img{
        height: 316px!important;
    }
}
.bnr-img{
    height: 337px;
}
#home_first_carousel{
    overflow: hidden;
    .card{
        height: 172px;
        width: 342px;
    }
}
.banner .owl--text {
    position: absolute;
    bottom: 2rem;
    left: 4rem;
    background: var(--items-list-bg-color);
    border: 1px solid var(--next-prev-arrow-color);
    border-radius: 4px;
}
.ori-img{
    top: 13px;
    height: 146px;
    width: 130px!important;
    object-fit: contain;
}
.banner .owl--text1 {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    display: flex!important;
}
.jkjew .owl-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.top_carousal .owl--text1::after {
    display: inline-block;
    padding-left: 8px;
    content: "\0279E";
    transition: transform 0.3s ease-out;
}

.jkjew .owl-prev,
.jkjew .owl-next {
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
    width: 45px;
    height: 48px;
    background-color: var(--next-prev-arrow-color) !important;
    color: #fff !important;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.jkjew .owl-prev {
    left: -20px;
}

.jkjew .owl-next {
    right: -20px;
}

.jkjew .owl-prev span,
.jkjew .owl-next span {
    color: #fff !important;
    font-size: 25px !important;
}

.jkjew .owl-prev span {
    padding-left: 10px;
}

.jkjew .owl-next span {
    padding-right: 10px;
}
.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.owl-carousel .owl-dot {
    display: inline-block;
    width: 23px; 
    height: 4px; 
    background: #ccc!important;
    margin: 0 5px; 
    border-radius: 17%;
    cursor: pointer;
    transition: background 0.3s ease;
}
.active-card{
    background-color: var(--price-content-color);
}
.owl-carousel .owl-dot.active {
    background-color: var(--next-prev-arrow-color) !important;
}

.top_carousal .owl--text::after {
    display: inline-block;
    padding-left: 8px;
    content: "\0279E";
    transition: transform 0.3s ease-out;
}
.home_first_carousel .bg-darks{
    background-color: #FFEDED;
}
.home_first_carousel .bg-lites{
    background-color: #FFF8E1;
}
.home_first_carousel .card2{
    background-color: #FFEDED;
}
.title-cnt{
    color:var(--side-content-color) ;
}

.top_cntr_card img{
    border-radius: 5px;
}

.buy-now::after {
    display: inline-block;
    padding-left: 8px;
    content: "\2192";
    transition: transform 0.3s ease-out;
    color: #fff; 
    vertical-align: middle;
}
  
.home_sec_carousel{
    background-color: var(--items-list-bg-color);
}
.home_sec_carousel .heading-cnt img{
    margin-top: -28px;
    height: 55px;
}
.home_sec_carousel .card1{
    background-color: #FFF8E1;
}
.home_sec_carousel .card2{
    background-color: #F8EBC1;
}

.home_sec_carousel .but_this::after {
    display: inline-block;
    padding-left: 8px;
    content: "\2192";
    transition: transform 0.3s ease-out;
}
#home_sec_carousel
{
    .images_position{
        z-index: 1;
        margin-left: 15px;
        top: -5px;
    }
    .owl-item {
        height: 171px;
    }
    img{
        width: 35%;
    }
} 
.card_and_carousal  .card1{
    background: transparent radial-gradient(closest-side at 50% 95%, #D4F2FF 0%, #03A9F4 100%) 0% 0% no-repeat padding-box;
    height:400px;
}
.card_and_carousal .buy-now {
    border-radius: 5px;
    margin-bottom: -15px;
}

.card_and_carousal .owl-nav {
    position: absolute;
    top: -2%;
    transform: translateY(-50%);
    right: 0;
    left: auto;
}
.card_and_carousal .owl-carousel .owl-nav button.owl-next, .card_and_carousal .owl-carousel .owl-nav button.owl-prev{
    border: 1px solid  var(--next-prev-arrow-color);
    border-radius: 50%!important;
    margin: 5px!important;
    color: var( --next-prev-arrow-color);
}
.card_and_carousal .owl-carousel .owl-nav button.owl-next span, .card_and_carousal .owl-carousel .owl-nav button.owl-prev span{
    margin: 10px!important;
}
.why-choose .card{
    background-color: var(--items-list-bg-color);
}
.why-choose  .owl-nav {
    position: absolute;
    transform: translateY(-130%);
    right: 0;
    left: auto;
}
.why-choose .owl-carousel .owl-nav button.owl-next, .why-choose .owl-carousel .owl-nav button.owl-prev{
    background-color:  var(--next-prev-arrow-color);
    margin: 5px!important;
    color: #fff;
}
.why-choose .owl-carousel .owl-nav button.owl-next span, .why-choose .owl-carousel .owl-nav button.owl-prev span{
    margin: 12px!important;
}


.line-with-text {
    border-bottom: 1px solid #1cdf4a;
    width: 16px;
}
#abt_review{
    overflow: hidden;
}
.abt_review::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 33%);
}
.abt_review h5{
    z-index: 1;
}
.marquee_content{
    background-color: #795548;
}

.marquee_content .marquee {
    --duration: 14s;
    display: flex;
    overflow: hidden;
    gap: var(--gap);
}

.marquee_content .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
}
.marquee_content .marquee h5{
   color: #fff;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% ));
    }
}

.marquee_content .marquee img{
   width: 25px;
}
#why-choosnne .card{
   background-color: var(--items-list-bg-color);
}
#why-choosnne .owl-prev, #why-choosnne .owl-next {
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
    width: 36px;
    height: 54px;
    background-color: var(--next-prev-arrow-color) !important;
    color: #fff !important;
    cursor: pointer;
}
#why-choosnne .owl-prev{
    left:-20px ;
}
#why-choosnne .owl-next{
    right:-20px;
}
.item-image{
    height: 250px;
    object-fit: contain;
}
.max-height{
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
@media only screen and (max-width: 333px){
    .with-horizontal-line::before, .with-horizontal-line::after {
        width: 8%!important;
    }
    .abt_review h6{
        font-size: x-small!important;
    }

}
@media only screen and (max-width:600px){
    .with-horizontal-line::before, .with-horizontal-line::after {
        width: 11%!important;
    }
    .abt_review .line-with-text::before {
        margin-left: 141px;
    }
    .marquee_content .marquee__group {
        min-width: 222%;
    }
    .ori-img {
        height: 115px!important;
    }    
    .item-image{
        height: 139px!important;
    }
    #home_first_carousel{
        .card{
            height: 142px;
        }
        .owl-next, .owl-prev{
            top: 30%;
        }
    }
    .home_first_carousel .owl-dot{
       display: none;
    }
    .bnr-img {
        height: 199px!important;
    }
}
@media (min-width: 600px) and (max-width: 1024px){
    .with-horizontal-line::before, .with-horizontal-line::after {
        width: 12%;
    }

    .abt_review .line-with-text::before {
        margin-left: 146px;
    }
    .marquee_content .marquee__group {
        min-width: 115%;
    }

    .why-choose .why_bnr{
        height: 274px;
        width: 340px;
    }
    .why-choose .why_bnr h3{
        font-size: medium;
    }
}
@media (min-width: 1374px) and (max-width: 1700px){

}
@media (min-width: 2000px){
   
}
.w-fill{
    width:-webkit-fill-available;    
}
.but_this{
    z-index: 9;
}